body {
	overflow-x: hidden;
	display: flex;
}
.outerDiv {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	/* position: absolute; */
	/* -ms-transform: translateY(-50%); */
	/* transform: translateY(-50%); */
}
.App {
	text-align: center;
	height: 100vh;
	overflow: hidden;
	margin-top: 0px;
	color: white;

	background-image: linear-gradient(rgb(15, 14, 14), black);
	/* background-image: url("backgrondimage.png");
	background-repeat: no-repeat;
	background-size: cover; */
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 0 auto;
}
.websiteTitle {
	margin-top: 17%;
	font-size: 70px;
	font-weight: 400;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: monospace;
	margin-top: calc(335px - 10vw);
}
.btcLogo {
	margin-left: 1vw;
	width: 55px;
}
.coinSearchBarTitle {
	margin-top: 10%;
	font-size: 22px;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: monospace;

	color: #f2a900;
}
.coinSearchBar {
	margin-top: 2%;

	width: 35vw;
	height: 33px;
	border: 2px solid black;
	outline: none;
	font-size: 25px;
	font-family: monospace;
	border: 0.1px solid transparent;
	padding-left: 1vw;
	border-top-left-radius: 180px;
	border-bottom-left-radius: 180px;
}
.searchBar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.searchBtn {
	height: 36.48px;
	margin-top: 2%;
	background-color: #f2a900;
	outline: none;
	border: none;
	border: 0.1px solid orange;
	/* border-right: 2px solid orange; */

	border-top-right-radius: 180px;
	border-bottom-right-radius: 180px;

	color: white;
	font-size: 1.5vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 8vw;
	font-family: monospace;
}

.downarrow {
	margin-top: 140px;
	/* position: fixed; */
	height: 30px;
	width: 30px;
	margin-left: 0 auto;
	/* z-index: .5; */
	margin-top: 5.5%;
}

#bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@media (max-width: 778px) {
	/* .websiteTitle {
		margin-top: 17%;
		font-size: 50px;
	} */
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
	.searchBtn {
		height: 36.75px;
		margin-top: 2%;
		background-color: #f2a900;
		outline: none;
		border: none;
		color: white;
		font-size: 2vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		width: 11vw;
	}
	/* .downarrow {
		margin-top: 80px;
		height: 30px;
		width: 30px;
		margin-left: 0 auto;
	} */
	/* .coinSearchBarTitle {
		margin-top: 18%;
	} */
}

@media (max-width: 788px) {
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
}

@media (max-width: 660px) {
	.coinSearchBar {
		margin-top: 2%;

		width: 60vw;
		height: 33px;
		border: 4px solid black;
		outline: none;
		font-size: 20px;
	}
}

@media (max-width: 457px) {
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
	.coinSearchBarTitle {
		margin-top: 18%;
	}
	/* .downarrow {
		margin-top: 80px;
		height: 30px;
		width: 30px;
		margin-left: 0 auto;
	} */
}

@media (max-width: 360px) {
	.coinSearchBarTitle {
		margin-top: 22%;
	}
}
.sloganCrypto {
	margin-top: 5%;
	font-size: 19px;
	/* font-family: Verdana, Geneva, Tahoma, sans-serif; */
	font-family: monospace;
	color: #f2a900;
}
.shortcut {
	-webkit-tap-highlight-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: var(--tile-size);
	margin-top: 3px;
	opacity: 1;
	outline: none;
	padding-bottom: 4px;
	padding-top: 12px;
	position: relative;
	text-decoration: none;
	transition-duration: 300ms;
	transition-property: left, top;
	transition-timing-function: ease-in-out;
	user-select: none;
	width: 120px;
	margin: 0 auto;
	margin-bottom: 13px;
	padding-top: 25px;
	margin-top: 53px;
	z-index: 1;
}
.shortcutBtn {
	font-size: 50px;
	border: 2px solid white;
	border-radius: 180px;
	/* width: 50px;
	height: 50px;
	padding-bottom: 5px; */
	width: 50px;
	height: 50px;
	margin: 0 auto;
	margin-top: -10%;
}
.addShortcutTitle {
	margin-top: 15%;
}
.addShortcutText {
	margin-top: -25%;
}
.shortcut:hover {
	/* border: 2px solid white; */

	background-color: rgb(63, 63, 63);
}
@media (max-height: 865px) {
	.websiteTitle {
		margin-top: calc(305px - 12vw);
	}
}

.shortcutModalTitle {
	font-size: 20px;
	margin-right: 30vw;
	width: 200px;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.shortcutModalCoinTitle {
	font-size: 16px;
	margin-right: 29.7vw;
	font-weight: 400;
	width: 140px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	margin-top: 30px;
}
.shortcutModalinputbox {
	width: 86.5%;
	height: 30px;
	font-size: 18px;
	border: 1px solid transparent;
	border-radius: 4px;
	outline-style: none;
}
.shortcutModalhidden {
	display: none;
}
.cancelBtn {
	font-size: 16px;
	color: orange;
	background-color: inherit;
	border: 1px solid white;
	border-radius: 5px;
	outline-style: none;
	margin-right: 0.5vw;
	padding: 8px;
}
.doneBtn {
	font-size: 16px;
	background-color: inherit;
	border: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	outline-style: none;
	padding: 8px;
}
.exitButtons {
	margin-left: 330px;
	margin-top: 60px;
	display: flex;
}
.shortCutModalvisible {
	position: fixed;
	z-index: 1; /* Sit on top */
	width: 100vw; /* Full width */
	height: 200vh; /* Full height */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
	font-size: 20px;
	overflow: hidden;
	z-index: 5;
	margin-top: -20%;
	display: block;
	top: 0;
}
.shortCutModalInner {
	background-color: black;
	display: block;
	height: 280px;
	color: white;
	/* background-color: white; */
	background-size: cover;
	border: 2px solid white;
	width: 500px;
	margin: 0 auto;
	margin-top: 40%;
	z-index: 10;
	border-radius: 15px;
}
