body {
	overflow-x: hidden;
}
.App {
	height: 100vh;
	text-align: center;

	overflow: hidden;
	margin-top: 0px;
	color: white;
	background-image: linear-gradient(rgb(15, 14, 14), black);
}
.websiteTitle {
	margin-top: 7%;
	font-size: 60px;
	font-weight: 400;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btcLogo {
	margin-left: 1vw;
	width: 55px;
}
.coinSearchBarTitle {
	margin-top: 10%;
	font-size: 22px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #f2a900;
}
.coinSearchBar {
	margin-top: 2%;

	width: 35vw;
	height: 33px;
	border: 4px solid black;
	outline: none;
	font-size: 25px;
}
.searchBar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.searchBtn {
	height: 36.75px;
	margin-top: 2%;
	background-color: #f2a900;
	outline: none;
	border: none;
	color: white;
	font-size: 1.5vw;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 8vw;
}

.downarrow {
	margin-top: 140px;
	/* position: fixed; */
	height: 30px;
	width: 30px;
	margin-left: 0 auto;
	/* z-index: .5; */
}

#bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}
@media (max-width: 778px) {
	.websiteTitle {
		margin-top: 17%;
		font-size: 50px;
	}
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
	.searchBtn {
		height: 36.75px;
		margin-top: 2%;
		background-color: #f2a900;
		outline: none;
		border: none;
		color: white;
		font-size: 2vw;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		width: 11vw;
	}
	.downarrow {
		margin-top: 80px;
		/* position: fixed; */
		height: 30px;
		width: 30px;
		margin-left: 0 auto;
		/* z-index: .5; */
	}
}
@media (max-width: 718px) {
	.websiteTitle {
		margin-top: 21%;
		font-size: 50px;
	}
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
}

@media (max-width: 660px) {
	.coinSearchBar {
		margin-top: 2%;

		width: 60vw;
		height: 33px;
		border: 4px solid black;
		outline: none;
		font-size: 20px;
	}
}
@media (max-width: 457px) {
	.websiteTitle {
		margin-top: 30%;
		font-size: 50px;
	}
	.btcLogo {
		margin-left: 1vw;
		width: 50px;
	}
	.coinSearchBarTitle {
		margin-top: 18%;
	}
	.downarrow {
		margin-top: 80px;
		/* position: fixed; */
		height: 30px;
		width: 30px;
		margin-left: 0 auto;
		/* z-index: .5; */
	}
}
@media (max-width: 360px) {
	.coinSearchBarTitle {
		margin-top: 22%;
	}
}
