.secondpagediv {
	height: fit-content;
	width: 100vw;
	top: 0;
	background-image: url("backgrondimage.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.coinData1 {
	height: 90vh;
	width: 100vw;
	top: 0;
	justify-content: center;
	display: flex;
}

.coinStuff {
	background-color: black;

	width: 50vw;
	/* border: 4px solid black; */
	height: 500px;
	overflow-x: hidden;
	margin-top: 0%;
	color: white;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.7);
}

.coinRow1 {
	display: flex;

	color: white;
}
.coinNamecontainer {
	color: white;
}
.coinName {
	font-size: 3.5vw;
	color: white;
	margin-left: 3vw;
}
.coinLogo {
	height: 3.4vw;
	margin-top: 9%;
	margin-left: 1vw;
}
.coinPrice {
	/* margin-left: 5vw; */
	font-size: 4.5vw;
	margin: 0 auto;
	margin-top: 7%;
	/* margin-left: 20vw; */
	float: right;
	margin-right: 3vw;
	color: lime;
}

.coinRow2 {
	display: block;
}
.coinSymbol {
	margin-left: 6.5vw;
	font-size: 2.5vw;
	margin-top: -7.5%;
}
.coin24hrchangemoney {
	/* float: right; */
	color: red;
	font-size: 1.5vw;
	margin-top: 10%;
	margin-right: -15vw;
}
.coin24hrchangepercentage {
	/* float: right; */
	color: red;
	font-size: 1.5vw;
	margin-top: -1%;
	margin-right: 3vw;
}
