.secondpagediv {
	height: fit-content;
	width: 100vw;
	top: 0;
	background-image: url("backgrondimage.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.coinData1 {
	height: 90vh;
	width: 100vw;
	top: 0;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

.coinStuff {
	background-color: black;

	width: 50vw;
	/* border: 4px solid black; */
	height: 500px;
	overflow-x: hidden;
	margin-top: 0%;
	color: white;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.7);
	overflow: hidden;
}

.coinRow1 {
	display: flex;

	color: white;
	font-family: monospace;
	margin-top: calc(175px - 10vw);
}
.coinNamecontainer {
	color: white;
}
.coinName {
	font-size: 3.5vw;
	color: white;
	margin-left: 3vw;
}
.coinLogo {
	height: 3.4vw;
	margin-top: 7.45%;
	margin-left: 1vw;
}
.coinPrice {
	/* margin-left: 5vw; */
	font-size: 4.5vw;
	margin: 0 auto;
	margin-top: 7%;
	/* margin-left: 20vw; */
	float: right;
	margin-right: 3vw;
	color: lime;
}

.coinRow2 {
	display: block;
	font-family: monospace;
}
.coinSymbol {
	margin-left: 6.5vw;
	font-size: 1.5vw;
	margin-top: -7.5%;
}
.coin24hrchangemoneyred {
	color: red;
	font-size: 1.5vw;

	margin-top: 10%;
}
.coin24hrchangemoneygreen {
	color: lime;
	font-size: 1.5vw;
	margin-top: 1%;
}
.coin24hrchangepercentagered {
	color: red;
	font-size: 1.5vw;
	margin-top: -1%;
}
.coin24hrchangepercentagegreen {
	color: lime;
	font-size: 1.5vw;
	margin-top: 4%;
}
.hr24Change {
	float: left;
	margin-left: 3vw;
	margin-top: 4%;
	/* border: 1px solid white; */
	width: fit-content;
	height: fit-content;
}
.coinRow3 {
	float: right;
	margin-right: 3.5vw;
	margin-top: 0%;
}
.marketCap {
	color: white;
	font-family: monospace;
	font-size: 1.25vw;
	width: fit-content;
	height: fit-content;
	/* border: 1px solid white; */
	margin-left: 2.25vw;
	margin-top: 10%;
}
.volumeTotal {
	color: white;
	font-family: monospace;
	font-size: 1.25vw;
	width: fit-content;
	height: fit-content;
	/* border: 1px solid white; */
	margin-left: 2.25vw;
	margin-top: 1%;
}

.coinRow4 {
	width: fit-content;
	height: fit-content;
	margin-top: 25%;
	margin-left: 3vw;
}
.low24h {
	color: white;
	font-family: monospace;
	font-size: 1.25vw;
	margin-right: 9vw;
	/* border: 1px solid white; */
	/* margin-left: 2.25vw; */
}
.high24h {
	color: white;
	font-family: monospace;
	font-size: 1.25vw;
	margin-top: 10%;
	/* border: 1px solid white; */
}
.percentShiftgreen {
	color: lime;
	font-family: monospace;
	font-size: 1.25vw;
	margin-right: 10vw;

	border: 2px solid lime;
	border-radius: 180px;
	padding: 8px;
}
.percentShiftred {
	color: red;
	font-family: monospace;
	font-size: 1.25vw;
	margin-right: 10vw;

	/* border: 1px solid white; */
}
.coinRow5 {
	margin-top: -20.5%;
	/* margin-left: 31vw; */
	margin-right: 2vw;
}
.chart {
	height: 8.5vw;
	border: lime 3px solid;
	border-radius: 20px;
	outline-style: none;
	margin-left: 31.45vw;
}
@media (max-width: 1245px) {
	.coinRow1 {
		display: block;
	}
	.coinName {
		color: white;
		text-align: center;
	}
	.coinLogo {
		margin-top: -10%;
		margin-left: 40vw;
	}
	.coinSymbol {
		margin-left: 25vw;
		margin-top: -100px;
	}
	.coinRow2 {
		display: none;
	}
	.coinRow3 {
		display: none;
	}
	.coinRow4 {
		display: none;
	}
	.chart {
		display: none;
	}
	.coinPrice {
		float: none;
		/* margin-left: 5vw; */
		font-size: 5.5vw;
		margin-left: 15.5vw;
		margin-top: -5%;
		color: lime;
	}
}
