.secondpagediv {
	height: fit-content;
	width: 100vw;
	top: 0;
	background-image: linear-gradient(rgb(15, 14, 14), black);
}
.coinData1 {
	height: 90vh;
	width: 100vw;
	top: 0;

	justify-content: center;
	display: flex;
	align-items: center;
}

.coinStuff {
	position: absolute;
	background-color: white;

	width: 50vw;
	border: 4px solid black;
	height: 500px;
	overflow-x: hidden;
	margin-top: -15%;
}

.coinRow1 {
	display: flex;
}
.coinName {
	font-size: 50px;
	color: black;
	margin-left: 3vw;
}
.coinLogo {
	height: 60px;
	margin-top: 9%;
	margin-left: 1vw;
}
.coinPrice {
	margin-top: 7%;
	margin-left: 5vw;
	font-size: 4.5vw;
}

.coinRow2 {
	display: flex;
}
.coinSymbol {
	margin-left: 3vw;
	font-size: 3vw;
	margin-top: -10%;
}
.coin24hrchangemoney {
	margin-left: 23vw;
	font-size: 1.25vw;
	margin-top: -6%;
	width: 80vw;
	color: red;
}
.coin24hrchangepercentage {
	color: red;
	margin-left: -17.75vw;
	font-size: 1.25vw;
	margin-top: 1%;
	width: 80vw;
}
