.shortcutitem {
	-webkit-tap-highlight-color: transparent;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	height: var(--tile-size);
	margin-top: 3px;
	opacity: 1;
	outline: none;
	padding-bottom: 4px;
	padding-top: 12px;
	position: relative;
	text-decoration: none;
	transition-duration: 300ms;
	transition-property: left, top;
	transition-timing-function: ease-in-out;
	user-select: none;
	width: 120px;
	margin: 0 auto;
	margin-bottom: 13px;
	padding-top: 25px;
	margin-top: 53px;
	z-index: 1;
}
