.top10page {
	/* positon: absolute; */
	height: 50vw;
	width: 100vw;
	background-image: url("backgrondimage.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #f2a900;

	justify-content: center;
	display: flex;
	align-items: center;
}
.topcoinsTitle {
	text-align: center;
	/* margin-top: -7%; */
	font-size: 3vw;
	color: #ffb300;
	font-weight: 500;
	font-family: monospace;
}
.top10section {
	height: fit-content;
	width: 70vw;
	background-color: black;
	color: white;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	margin-top: 0%;
}
.listOfCoins {
	margin-top: 7.5%;
}
.listItem {
	/* display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding-top: 4%; */
	display: grid;
	/* grid-template-columns: 93.3% 3.3% 3.3%; */
	/* grid-template-rows: 1fr; */
}
.coinAndLogo {
	float: left;
	display: inline;
	font-size: 2.25vw;
	margin-left: 2vw;
}
.priceCurrent {
	float: right;
	margin-left: 40vw;
	display: block;
}
.percentChange24 {
	margin-left: 17vw;
	margin-top: -4%;
}
.currentPrice10 {
	font-size: 2vw;
	margin-top: -10%;
	float: right;
	margin-right: 5vw;
}
.percentChangeGreen {
	margin-left: 15vw;
	color: lime;
	font-size: 1.25vw;
	margin-top: 0%;
}
.percentChangeRed {
	margin-left: 15vw;
	color: red;
	font-size: 1.25vw;
	margin-top: 0%;
}
.coinImage {
	height: 3vw;
	margin-left: 2vw;
}
@media (max-width: 940px) {
	.top10section {
		margin-top: -5.5%;

		height: fit-content;
		width: 70vw;
		background-color: black;
		color: white;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
	.coinAndLogo {
		float: left;
		display: inline;
		font-size: 4.25vw;
		margin-left: -1vw;
		margin-right: 35vw;
	}
	.priceCurrent {
		float: right;
		margin-left: 40vw;
		display: block;
	}
	.percentChange24 {
		margin-left: 17vw;
		margin-top: -4%;
	}
	.currentPrice10 {
		font-size: 3vw;
		margin-top: -25%;
		float: right;
		margin-right: 4vw;
	}
	.percentChangeGreen {
		margin-left: 12.5vw;
		font-size: 2vw;
		margin-top: 0%;
	}
	.percentChangeRed {
		margin-left: 12.5vw;
		color: red;
		font-size: 2vw;
		margin-top: 0%;
	}
	.top10page {
		height: 70vw;
	}
	.top10section {
		margin-top: 5%;
	}
}
@media (max-width: 650px) {
	/* .top10section {
		margin-top: -5.5%;

		height: fit-content;
		width: 70vw;
		background-color: black;
		color: white;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	} */
	.coinAndLogo {
		float: left;
		display: inline;
		font-size: 4.25vw;
		margin-left: -1vw;
		margin-right: 35vw;
	}
	.priceCurrent {
		float: right;
		margin-left: 40vw;
		display: block;
	}
	.percentChange24 {
		margin-left: 17vw;
		margin-top: -4%;
	}
	.currentPrice10 {
		font-size: 3vw;
		margin-top: -20%;
		float: right;
		margin-right: 4vw;
	}
	.percentChangeGreen {
		margin-left: 12.5vw;
		font-size: 2vw;
		margin-top: 0%;
	}
	.percentChangeRed {
		margin-left: 12.5vw;
		color: red;
		font-size: 2vw;
		margin-top: 0%;
	}
	.top10page {
		height: 85vw;
	}
	.top10section {
		margin-top: 0%;
	}
}
.negativeArrow {
	height: 1vw;
}
